<article class="producto">
    <div class="producto__contenido">
        <div class="producto__detalles">
            <p class="producto-carrito__nombre">Nombre: {{ nombre() }}</p>
            <p class="producto-carrito__dato">Descripción: <span class="producto-carrito__valor">{{ descripcion() }}</span></p>
            <p class="producto-carrito__dato">Cantidad a Comprar: <span class="producto-carrito__valor">{{ cantidad() }}</span></p>
            <p class="producto-carrito__dato">Precio Individual: <span class="producto-carrito__valor">$ {{ precio().toFixed(2) }}</span></p>
            <p class="producto-carrito__dato">Subtotal: <span class="producto-carrito__valor">$ {{ subtotal().toFixed(2) }}</span></p>
        </div>
        <div class="producto__acciones">
            <button class="producto__eliminar" type="button" (click)="clickEliminarProducto()">Eliminar</button>
        </div>
    </div>
    <div class="producto__imagen">
        <img [src]="imagenUrl()" >
    </div>
</article>