<article class="modal-agregar-proveedor">
    <div class="modal-agregar-proveedor__encabezado">
        <h2 class="modal-agregar-proveedor__titulo">Agregar Proveedor</h2>
        <button class="modal-agregar-proveedor__cerrar" type="button" (click)="clickCerrar()">X</button>
    </div>
    <div class="modal-agregar-proveedor__separador"></div>
    <div class="modal-agregar-proveedor__campo">
        <label class="modal-agregar-proveedor__etiqueta">Nombre:</label>
        <input class="modal-agregar-proveedor__input" type="text" placeholder="Escriba el nombre..." (input)="actualizarNombre($event)">
    </div>

    <div class="modal-agregar-proveedor__campo">
        <label class="modal-agregar-proveedor__etiqueta">Teléfono:</label>
        <input class="modal-agregar-proveedor__input" type="tel" placeholder="Escriba el teléfono..." (input)="actualizarTelefono($event)">
    </div>
    <div class="modal-agregar-proveedor__separador"></div>
    <div class="modal-agregar-proveedor__acciones">
        <button class="modal-agregar-proveedor__boton-cancelar" type="button" (click)="clickCancelar()">Cancelar</button>
        <button class="modal-agregar-proveedor__boton-aceptar" type="button" (click)="clickAceptar()">Aceptar</button>
    </div>
</article>