<div class="producto">
    <div class="producto__contenido">
        <div class="producto__info">
            <div class="producto__contenedor">
                <span class="producto__etiqueta">Nombre de Cliente:</span>
                <span class="producto__valor">{{nombreCliente()}}</span>
            </div>
            <div class="producto__contenedor">
                <span class="producto__etiqueta">Apellido de Cliente:</span>
                <span class="producto__valor">{{apellidoCliente()}}</span>
            </div>
            <div class="producto__contenedor">
                <span class="producto__etiqueta">Total de Compra:</span>
                <span class="producto__valor">$ {{totalPagado().toFixed(2)}}</span>
            </div>
            <div class="producto__contenedor">
                <span class="producto__etiqueta">Fecha de Compra:</span>
                <span class="producto__valor">{{fechaCompra()}}</span>
            </div>
        </div>
    </div>
    <div class="producto__acciones">
        <button class="producto__boton producto__boton--detalles" type="button" (click)="detalles()">Detalles</button>
        <button class="producto__boton producto__boton--cancelar" type="button" (click)="cancelar()">{{ cancelado() ? 'Reactivar' : 'Cancelar' }}</button>
        <button class="producto__boton producto__boton--entregado" type="button" (click)="entregar()">{{ entregado() ? 'Marcar Pendiente' : 'Marcar Entregado' }}</button>
    </div>
</div>