<!-- pedidos.component.html -->
<section class="pedidos">
    <div class="pedidos__toolbar">
        <div class="pedidos__filtros-titulo">
            <label>Filtros: </label>
        </div>
        <div class="pedidos__opciones">
            <label class="pedidos__radio pedidos__border"></label>
            <label class="pedidos__radio">
                <input id="estadoActivo" type="radio" name="filtroCancelado" (change)="cambiarFiltroActivo(true)" checked="true">
                Activo
            </label>
            <label class="pedidos__radio">
                <input id="estadoInactivo" type="radio" name="filtroCancelado" (change)="cambiarFiltroActivo(false)">
                Inactivo
            </label>
            <label class="pedidos__radio pedidos__border"></label>
            <label class="pedidos__radio">
                <input id="estadoEntregado" type="radio" name="filtroEntrega" (change)="cambiarFiltroEntregado(true)">
                Entregados
            </label>
            <label class="pedidos__radio">
                <input id="estadoPendiente" type="radio" name="filtroEntrega" (change)="cambiarFiltroEntregado(false)" checked="true">
                Pendiente
            </label>
            <label class="pedidos__radio pedidos__border"></label>
        </div>
        <input class="pedidos__buscador" type="text" placeholder="Buscador por Nombre de Cliente..." (input)="actualizarBuscador($event)">
    </div>
    <div class="pedidos__grid">
        <!--Aqui se muestran todos los pedidos que se han registrado de cualquier persona, estos requieren si o si el nombre, esta muestra la lista filtrada, que también es un computed, 
        para que cuando se actualice un filtro se automáticamente detecte y reenderice-->
        @for (pedido of pedidosFiltrados(); track pedido.idVenta) {
        <app-producto-pedido
            [idVenta]="pedido.idVenta"
            [nombre]="pedido.nombre"
            [nombreCliente]="pedido.nombreCliente"
            [precio]="pedido.precio"
            [cantidad]="pedido.cantidad"
            [fechaCompra]="pedido.fechaCompra"
            [imagenUrl]="pedido.imagenUrl"
            (marcarCancelado)="cancelarPedido($event)"
            (marcarEntregado)="marcarEntregado($event)">
        </app-producto-pedido>
        } @empty {
            <!-- Esto es fundamental para que en caso de no haber productos notificar al administrador que no existe ningúno-->
            <p class="pedidos__vacio">No hay pedidos que coincidan.</p>
        }
    </div>
</section>